.tab-pane {
padding: 15px 0px 15px 0px;
}


.row.boxdatapublish .col-xs-12 {
    padding-top: 10px;
    /* margin-bottom: 90px; */
}
.row.widget.bg-primary {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-remove{
	margin-top: 10px;
	margin-bottom: 10px;
}